<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
        <ion-back-button defaultHref='home'></ion-back-button>
        <ion-title><h1 style="font-family: Bahnschrift;"><b>Información sobre la app</b></h1></ion-title>
  </ion-buttons>

</ion-toolbar>
</ion-header>
    <ion-content id="body" padding>
      <ion-col>
         <ion-card style="background-color: white;">
         
           <p>Aplicación desarrollado en la asignatura de Javier García Escobedo, Desarrollo de Aplicaciones móviles, por Alejandro Diánez Toro.
             Esta aplicación se trata de la gestión de una base de datos de los jugadores del videojuego FIFA de EASPORTS. Sus funcionalidades principales son: 
             
            </p>
            <ul>
              <li><b>Introducir todos los jugadores con sus características específicos y atributos, puediendo añadir un avatar de imagen</b></li>
              <li><b>Un buscador para facilitar la búsqueda de los jugadores.</b></li>
              <li><b>Página de contacto con disponibilidad de llamada, y geolocalización</b></li>
            </ul> 
         </ion-card>
        </ion-col>
        <ion-item style="cursor: pointer" (click)="locatePosition()">
          <ion-button style="color:white" fill="clear">
              <ion-icon slot="start" name="map"></ion-icon>
              <p>Localizar empresa más cercana</p>
          </ion-button>
      </ion-item>
     
      <div id="mapId" style="height:30%;"></div>
      <div style="align-items: baseline; text-align: center;">
        <h5 style="color:white"><b>Atención al cliente</b></h5><ion-button (click)="callJoint()"><b>{{phone}}</b><ion-icon slot="icon-only" name="call"></ion-icon></ion-button>
      </div>
      </ion-content>
      <br>
      
  <ion-footer>
      <ion-toolbar style="text-align: center;">
          <ion-buttons>
              <ion-button style="width: 100%;"(click)="navigateToInicio()">
                <ion-icon slot="icon-only" name="home"></ion-icon>
              </ion-button>
            </ion-buttons>
        </ion-toolbar>
    <ion-toolbar style="text-align: center;">
      <p>&copy; Alejandro Dianez Toro - 2º DAW</p>
    </ion-toolbar>
  </ion-footer>