<ion-app>
  <ion-header translucent>
   <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref='home'></ion-back-button>
          <ion-title><h1 style="font-family: Bahnschrift;"><b>Buscador</b></h1></ion-title>
    </ion-buttons>
       
   </ion-toolbar>
 </ion-header>

<ion-content id="body" padding>
   <ion-header >
       <ion-toolbar>
           <ion-searchbar [(ngModel)]="gen"  
           [showCancelButton]="miStringDeCancell"
           (ionInput)="getItems($event)"
           (ionCancel)=null 
           placeholder="Buscar..."></ion-searchbar>
         </ion-toolbar>
    </ion-header>
 <ion-list>
   <div *ngIf="gen!=null && gen!='' ">
   <ion-item *ngFor="let documentJug of items"  (click)="navigateToFormulario(documentJug)">
     <ion-grid>
       <ion-row>
         <h1 style="text-align: center; font-family: Bahnschrift;"><b><ion-icon ios="ios-person" md="md-person"></ion-icon> Nombre: {{documentJug.data.Nombre}}, {{documentJug.data.Apellidos}}</b></h1>
       </ion-row>
     </ion-grid>
   </ion-item>
   </div>
 </ion-list>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
   <ion-fab-button (click)="navigateToFormularioNew()" color="light">  
     <ion-icon  name="add"></ion-icon>  
   </ion-fab-button>
 </ion-fab>  
 
</ion-content>

<ion-footer>
 <ion-toolbar>
   <ion-buttons>
     <ion-button style="width: 100%;"(click)="navigateToInicio()">
       <ion-icon slot="icon-only" name="home"></ion-icon>
     </ion-button>
       <ion-button style="width: 100%;" (click)="navigateToFormularioNew()">
         <ion-icon slot="icon-only" name="add"></ion-icon>
       </ion-button>
     <ion-button style="width:100%" (click)="navigateToInfo()">
       <ion-icon slot="icon-only" name="information-circle" ></ion-icon>
     </ion-button>
   </ion-buttons>
 </ion-toolbar>
</ion-footer>
</ion-app>
