<ion-app>
   <ion-header translucent>
    <ion-toolbar>
        <ion-title><h1 style="text-align: center; font-family: Bahnschrift;"><b>Base de datos de FIFA</b></h1></ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-content id="body" padding>
    <ion-header >
        <ion-toolbar>
          <ion-title style="text-align: center;">
            <h1 style="text-align: center; font-family: Bahnschrift;"><b>LISTA DE JUGADORES</b></h1>
          </ion-title>
          </ion-toolbar>
     </ion-header>
  <ion-list>
    <ion-item *ngFor="let documentJug of arrayColeccionJug"  (click)="navigateToFormulario(documentJug)">
      <ion-grid>
        <ion-row>
          <h1 style="text-align: center; font-family: Bahnschrift;"><b> <ion-icon ios="ios-person" md="md-person"></ion-icon>Nombre: {{documentJug.data.Nombre}}, {{documentJug.data.Apellidos}}</b></h1>
        </ion-row>
        
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="navigateToFormularioNuevo('nuevo')" color="light">  
      <ion-icon  name="add"></ion-icon>  
    </ion-fab-button>
  </ion-fab>  
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button style="width: 100%;"(click)="navigateToInicio()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
        <ion-button style="width: 100%;" (click)="navigateToFormularioNuevo('nuevo')">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
          <ion-button style="width: 100%;" (click)="navigateToSearch()">
            <ion-icon slot="icon-only" name="search" ></ion-icon>
          </ion-button>
      <ion-button style="width:100%" (click)="navigateToInfo()">
        <ion-icon slot="icon-only" name="information-circle" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>
