<ion-app>
   <ion-header translucent>
    <ion-toolbar>
        <ion-title><h1 style="text-align: center; font-family: Bahnschrift;"><b><img width="50%" id="imagen" src="https://futhead.cursecdn.com/static/img/futhead-logo-red-trans.png"></b></h1>
          <div *ngIf = "isLogged == false" style="text-align:end; padding-right: 29px;">
            <a>Inicia sesión</a><ion-button (click)="navigateToLogin()">  <ion-icon ios="ios-log-in" md="md-log-in"></ion-icon></ion-button>
          </div>
          <div *ngIf = "isLogged == true " style="text-align:end; padding-right: 29px;">
            <a style="text-align: left;">{{userEmail}}</a><ion-button (click)="logout()"><ion-icon ios="ios-log-out" md="md-log-out"></ion-icon></ion-button>
        </div>
        </ion-title>
      </ion-toolbar>
  
  </ion-header>

 <ion-content id="body" padding>
    <ion-item *ngFor="let documentJug of arrayColeccionJug" (click)="navigateToFormulario(documentJug)">
      <ion-avatar style="width:20%; height: 20%;" slot="start">
         <img [src]="documentJug.data.Imagen">
        </ion-avatar>
        <ion-label style="text-align: left;">{{documentJug.data.Nombre}} {{documentJug.data.Apellidos}}</ion-label>
        <ion-label style="text-align: right;"><h1 style="text-align: right; font-family: Bahnschrift;"><b><ion-icon name="podium"></ion-icon>{{documentJug.data.Media}} </b></h1></ion-label>
    </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons *ngIf = "isLogged == false">    
      <ion-button style="width: 100%;"(click)="navigateToInicio()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
          <ion-button style="width: 100%;" (click)="navigateToSearch()">
            <ion-icon slot="icon-only" name="search" ></ion-icon>
          </ion-button>
      <ion-button style="width:100%" (click)="navigateToInfo()">
        <ion-icon slot="icon-only" name="information-circle" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf = "isLogged == true">   

    <ion-button style="width: 100%;"(click)="navigateToInicio()">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
      <ion-button style="width: 100%;" (click)="navigateToFormularioNuevo('nuevo')">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
        <ion-button style="width: 100%;" (click)="navigateToSearch()">
          <ion-icon slot="icon-only" name="search" ></ion-icon>
        </ion-button>
    <ion-button style="width:100%" (click)="navigateToInfo()">
      <ion-icon slot="icon-only" name="information-circle" ></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>
